<!DOCTYPE html>
<html>
<head>
    <title>APP行为数据收集</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div class="form-group" v-show="showList">
        <div class="form-group col-sm-2">
            <input id="statDateStart" type="text" class="form-control" v-model="q.statDateStart"
                   @keyup.enter="query" placeholder="统计开始日期">
        </div>
        <div class="form-group col-sm-2">
            <input id="statDateEnd" type="text" class="form-control" v-model="q.statDateEnd"
                   @keyup.enter="query" placeholder="统计结束日期">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.deviceId" @keyup.enter="query" placeholder="设备ID">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.userId" @keyup.enter="query" placeholder="用户ID">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.statType" @keyup.enter="query" placeholder="统计类型">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.statName" @keyup.enter="query" placeholder="统计名称">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.channelCode" @keyup.enter="query" placeholder="渠道编码">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.productCode" @keyup.enter="query" placeholder="产品编码">
        </div>
    </div>
    <div style="clear:both"></div>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a></a>
            <a class="btn btn-default" @click="e_export"><i class="fa fa-plus"></i>&nbsp;导出</a></a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">设备ID</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.deviceId"
                           placeholder="设备ID"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">用户ID</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.userId" placeholder="用户ID"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">统计类型</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.statType"
                           placeholder="统计类型"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">统计名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.statName"
                           placeholder="统计名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">位置编号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.positionCode"
                           placeholder="位置编号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">产品编码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.productCode"
                           placeholder="产品编码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">IP</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.ip" placeholder="IP"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">UA</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.userAgent"
                           placeholder="UA"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">渠道名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.channelCode"
                           placeholder="渠道名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">渠道H5风格</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.channelH5Style"
                           placeholder="渠道H5风格"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">手机系统</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.os" placeholder="手机系统"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">系统版本</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.osVersion"
                           placeholder="系统版本"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">手机型号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.phoneModel"
                           placeholder="手机型号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">APP版本</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.terminalProductVersion"
                           placeholder="APP版本"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">APP名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.terminalProductName"
                           placeholder="APP名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">页面停留时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.pageStayTime"
                           placeholder="页面停留时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">手机当前角度</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.phoneNowAngle"
                           placeholder="手机当前角度"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">手机电量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.phoneElectric"
                           placeholder="手机电量"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">充电状态</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.stateOfCharge"
                           placeholder="充电状态"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.message" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">网络类型</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.networkType"
                           placeholder="网络类型"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">gps</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.gps" placeholder="gps"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">省份</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.gpsProvince"
                           placeholder="省份"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">城市</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectApp.gpsCity" placeholder="城市"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/tblbehaviourcollectapp.js?_${.now?long}"></script>
</body>
</html>