<!DOCTYPE html>
<html>
<head>
    <title>H5行为数据收集</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div class="form-group" v-show="showList">
        <div class="form-group col-sm-2">
            <input id="statDateStart" type="text" class="form-control" v-model="q.statDateStart"
                   @keyup.enter="query" placeholder="创建开始日期">
        </div>
        <div class="form-group col-sm-2">
            <input id="statDateEnd" type="text" class="form-control" v-model="q.statDateEnd"
                   @keyup.enter="query" placeholder="创建结束日期">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.statType" @keyup.enter="query" placeholder="统计动作类型">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.statName" @keyup.enter="query" placeholder="统计名称">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.ip" @keyup.enter="query" placeholder="IP">
        </div>
    </div>
    <div style="clear:both"></div>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a></a>
            <a class="btn btn-default" @click="e_export"><i class="fa fa-plus"></i>&nbsp;导出</a></a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">统计动作类型</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectH5.statType"
                           placeholder="统计动作类型"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">统计名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectH5.statName"
                           placeholder="统计名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">IP</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectH5.ip" placeholder="IP"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">浏览器UA</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectH5.userAgent"
                           placeholder="浏览器UA"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">渠道H5风格</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectH5.channelH5Style"
                           placeholder="渠道H5风格"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">页面URL</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectH5.pageUrl"
                           placeholder="页面URL"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">手机系统</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectH5.os" placeholder="手机系统"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">渠道编码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectH5.channelCode"
                           placeholder="渠道编码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectH5.message" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">系统版本</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectH5.osVersion"
                           placeholder="系统版本"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">网络类型</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblBehaviourCollectH5.networkType"
                           placeholder="网络类型"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/tblbehaviourcollecth5.js?_${.now?long}"></script>
</body>
</html>