<!DOCTYPE html>
<html>
<head>
    <title></title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div class="form-group">
        <div class="form-group col-sm-2">
            <input id="statDateStart" type="text" class="form-control" v-model="q.statDateStart"
                   @keyup.enter="query" placeholder="统计开始日期">
        </div>
        <div class="form-group col-sm-2">
            <input id="statDateEnd" type="text" class="form-control" v-model="q.statDateEnd"
                   @keyup.enter="query" placeholder="统计结束日期">
        </div>
        <div class="form-group col-sm-2">
            <input id="channelName" type="text" class="form-control"
                   placeholder="请输入渠道名称" v-model="q.channelName">
        </div>
        <div class="form-group col-sm-2">
            <input id="channelCode" type="text" class="form-control"
                   placeholder="请输入渠道编码" v-model="q.channelCode">
        </div>
        <div class="form-group col-sm-2">
            <select type="text" class="form-control"
                    v-model="q.business" @keyup.enter="query" placeholder="所属商务">
                <option value="">所属商务</option>
                <option v-for="(item,index) in businessUserList"
                        :value="item.username">{{ item.username }}
                </option>
            </select>
        </div>
    </div>
    <div style="clear:both"></div>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a></a>
            <a class="btn btn-default" @click="e_export"><i class="fa fa-plus"></i>&nbsp;导出</a></a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

</div>

<script src="${request.contextPath}/statics/js/modules/sys/tblchannelregisterfeedbackreport.js?_${.now?long}"></script>
</body>
</html>