<!DOCTYPE html>
<html>
<head>
    <title>渠道ROI监控报表</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div class="form-group" v-show="showList">
        <div class="form-group col-sm-2">
            <input id="statDateStart" type="text" class="form-control" v-model="q.statDateStart"
                   @keyup.enter="query" placeholder="统计开始日期">
        </div>
        <div class="form-group col-sm-2">
            <input id="statDateEnd" type="text" class="form-control" v-model="q.statDateEnd"
                   @keyup.enter="query" placeholder="统计结束日期">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.channelType" @keyup.enter="query" placeholder="渠道类型">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.channelName" @keyup.enter="query" placeholder="渠道名称">
        </div>
    </div>
    <div style="clear:both"></div>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a></a>
            <a class="btn btn-default" @click="e_export"><i class="fa fa-plus"></i>&nbsp;导出</a></a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">统计日期</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.statDate" placeholder="统计日期"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">渠道类型</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.channelType"
                           placeholder="渠道类型"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">渠道名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.channelName"
                           placeholder="渠道名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">渠道编码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.channelCode"
                           placeholder="渠道编码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">注册页UV</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.registerPageUv"
                           placeholder="注册页UV"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">新注册用户数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.newRegisterUser"
                           placeholder="新注册用户数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">渠道反馈注册数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.feedbackRegisterNum"
                           placeholder="渠道反馈注册数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">渠道推广消耗</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.channelPromotionCost"
                           placeholder="渠道推广消耗"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">渠道设备激活数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.chanelDeviceActive"
                           placeholder="渠道设备激活数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">APP登录数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.appLoginUser"
                           placeholder="APP登录数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">产品点击数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.productClick"
                           placeholder="产品点击数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">预估单日收入</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.estimateDailyEarnings"
                           placeholder="预估单日收入"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">预估单日ROI</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.estimateDailyRoi"
                           placeholder="预估单日ROI"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">7日启动设备数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.deviceStartNums7"
                           placeholder="7日启动设备数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">7日登录用户数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.appLoginUserNumsD7"
                           placeholder="7日登录用户数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">7日登录用户产品点击数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.productClickD7"
                           placeholder="7日登录用户产品点击数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">预估7日收入</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.estimateEarningsD7"
                           placeholder="预估7日收入"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">预估7日ROI</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.estimateRoiD7"
                           placeholder="预估7日ROI"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">30日启动设备数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.deviceStartNumsD30"
                           placeholder="30日启动设备数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">30日登录用户数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.appLoginUserNumsD30"
                           placeholder="30日登录用户数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">30日登录用户产品点击数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.productClickD30"
                           placeholder="30日登录用户产品点击数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">预估30日收入</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.estimateEarningsD30"
                           placeholder="预估30日收入"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">预估30日ROI</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblChannelRoiReport.estimateRoiD30"
                           placeholder="预估30日ROI"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/tblchannelroireport.js?_${.now?long}"></script>
</body>
</html>