<!DOCTYPE html>
<html>
<head>
    <title>渠道包版本配置</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
<div class="form-group" v-show="showList">
		  		  	  		  			  	  		  			<div class="form-group col-sm-2">
	     <input type="text" class="form-control" v-model="q.channelCode" @keyup.enter="query" placeholder="渠道编号">
	  </div>
	   	  	  		  			<div class="form-group col-sm-2">
	     <input type="text" class="form-control" v-model="q.showUrl" @keyup.enter="query" placeholder="展示url">
	  </div>
	   	  	  		  			<div class="form-group col-sm-2">
	     <input type="text" class="form-control" v-model="q.terminalProductName" @keyup.enter="query" placeholder="终端APP名称">
	  </div>
	   	  	  		  			<div class="form-group col-sm-2">
	     <input type="text" class="form-control" v-model="q.terminalProductVersion" @keyup.enter="query" placeholder="终端APP版本">
	  </div>
	   	  	  		  			<div class="form-group col-sm-2">
	     <input type="text" class="form-control" v-model="q.auditVersion" @keyup.enter="query" placeholder="审核版本">
	  </div>
	   	  	   </div>
 <div style="clear:both"></div>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a></a>
            <a class="btn btn-default" @click="e_export"><i class="fa fa-plus"></i>&nbsp;导出</a></a>
			<#if shiro.hasPermission("sys:tblindexswitch:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:tblindexswitch:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:tblindexswitch:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
																		  															  				                        															  				                        <div class="form-group">
                        <div class="col-sm-2 control-label">渠道编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tblIndexSwitch.channelCode" placeholder="渠道编号"/>
                        </div>
                    </div>
                                         															  				                        <div class="form-group">
                        <div class="col-sm-2 control-label">展示url</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tblIndexSwitch.showUrl" placeholder="展示url"/>
                        </div>
                    </div>
                                         															  				                        <div class="form-group">
                        <div class="col-sm-2 control-label">终端APP名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tblIndexSwitch.terminalProductName" placeholder="终端APP名称"/>
                        </div>
                    </div>
                                         															  				                        <div class="form-group">
                        <div class="col-sm-2 control-label">终端APP版本</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tblIndexSwitch.terminalProductVersion" placeholder="终端APP版本"/>
                        </div>
                    </div>
                                         															  				                        <div class="form-group">
                        <div class="col-sm-2 control-label">审核版本</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tblIndexSwitch.auditVersion" placeholder="审核版本"/>
                        </div>
                    </div>
                                         							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/tblindexswitch.js?_${.now?long}"></script>
</body>
</html>