<!DOCTYPE html>
<html>
<head>
    <title>产品配置</title>
    <#include "/header.html">
    <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div class="form-group" v-show="showList">
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.productType" @keyup.enter="query" placeholder="产品类型">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.productName" @keyup.enter="query" placeholder="产品名称">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.productCode" @keyup.enter="query" placeholder="产品编码">
        </div>
        <div class="form-group col-sm-2">
          <select type="text" class="form-control"
                    v-model="q.business" @keyup.enter="query" placeholder="所属商务">
                <option value="">对接商务</option>
                <option v-for="(item,index) in businessUserList"
                        :value="item.username">{{ item.username }}
                </option>
            </select>
        </div>
        <div class="form-group col-sm-2">
            <select type="text" class="form-control"
                    v-model="q.status" placeholder="状态">
                    <option value="">状态</option>
                <option value="1">上线</option>
                <option value="0">下线</option>
            </select>
        </div>
    </div>
    <div style="clear:both"></div>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a></a>
            <a class="btn btn-default" @click="e_export"><i class="fa fa-plus"></i>&nbsp;导出</a></a>
            <#if shiro.hasPermission("sys:tblproductconfig:save")>
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("sys:tblproductconfig:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("sys:tblproductconfig:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">产品类型</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.productType" placeholder="产品类型"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">产品名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.productName" placeholder="产品名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">产品编码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.productCode" placeholder="产品编码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">产品logo</div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="tblProductConfig.productLogo"
                           placeholder="产品logo" />
                   
                </div>
                <div class="col-sm-3">
                  <a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;上传图片</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">产品url</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.productUrl" placeholder="产品url"/>
                </div>
                
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">产品标签</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.productTag" placeholder="产品标签"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">利率文案</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.productRate" placeholder="利率文案"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">额度文案</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.productLimit" placeholder="额度文案"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">放款成功率</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.loanSucMsg" placeholder="放款成功率"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">放款人数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.loanNum" placeholder="放款人数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">产品宣传语</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.slogan" placeholder="产品宣传语"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">支持展示客户端</div>
                <div class="col-sm-10">
                    <select type="text" class="form-control"
                            v-model="tblProductConfig.showTerminal" placeholder="支持展示客户端">
                        <option value="ALL">支持双端</option>
                        <option value="IOS">只支持IOS</option>
                        <option value="ANDROID">只支持Android</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">机构名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.partnerName" placeholder="机构名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">对接商务</div>
                <div class="col-sm-10">
                  <select type="text" class="form-control"
                            v-model="tblProductConfig.business" placeholder="对接商务">
                        <option v-for="(item,index) in businessUserList"
                                :value="item.username">{{ item.username }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">CPA单价</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.cpa" placeholder="CPA单价"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">CPC单价</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.cpc" placeholder="CPC单价"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">CPS比例</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.cps" placeholder="CPS比例"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tblProductConfig.description" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">状态</div>
                <div class="col-sm-10">
                    <select type="text" class="form-control"
                            v-model="tblProductConfig.status" placeholder="状态">
                        <option value="1">上线</option>
                        <option value="0">下线</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/tblproductconfig.js?_${.now?long}"></script>
</body>
</html>